:root {
  --kleur-geel: #ffe500;
  --kleur-zwart: #000000;
  --kleur-wit: #ffffff;
  --kleur-oranje: #ff7b00;
  --kleur-groen: #165300;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 120px 800px 60px;
  margin: 0;
  background-color: var(--kleur-wit);
  color: var(--kleur-zwart);
}


nav ul {
  list-style: none;
  margin: 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 200px;
  
}

nav ul li a {
  text-decoration: none;
  color: var(--kleur-oranje);
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 150%;

}

nav ul li a:hover {
  background-color: var(--kleur-geel);
  color: var(--kleur-zwart);
}


header {
  grid-area: header;
  background-color:var(--kleur-zwart);
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: var(--kleur-groen);
  padding: 0px;

}

main {
  grid-area: main;
  background-color: var(--kleur-geel);
  

}

footer {
  grid-area: footer;
  background-color: var(--kleur-oranje);
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0px;
}

.logo-text {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

 .logo-text span {
  color: #0FA958; 
}

body.dark-mode .logo {
  background-color: #000000;
}

body.dark-mode .logo-text {
  color: white right;
}

body.dark-mode .logo-text span {
  color: #FF7A00;
}

h1 {
  color: var(--kleur-wit);
  padding: 25px;
}

p {
  width: 80%;
  font-size: 130%;
  text-align: left;
  /* display: inline-block; */
}

main article {
  float: right;
  width: 35%;
}

.vraagteken{
margin-left: 50px;
margin-top: 170px;
width: 30%;
}

.kennismaking{
margin-left: 15px;
margin-bottom: 80px;
width: 25%;
}