:root {
  --kleur-geel: #ffe500;
  --kleur-zwart: #000000;
  --kleur-wit: #ffffff;
  --kleur-oranje: #ff7b00;
  --kleur-groen: #165300;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 120px 780px 60px;
  margin: 0;
  background-color: var(--kleur-wit);
  color: var(--kleur-zwart);
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

nav ul li a {
  text-decoration: none;
  color: var(--kleur-oranje);
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;

}

nav ul li a:hover {
  background-color: var(--kleur-geel);
  color: var(--kleur-zwart);
}


header {
  grid-area: header;
  background-color:var(--kleur-zwart);
}

nav {
  grid-area: nav;
  background-color: var(--kleur-groen);
  padding: 15px;

}

main {
  grid-area: main;
  background-color: var(--kleur-geel);
}

logo {
  grid-area: logo;
   position: relative;
  background-color: var(--kleur-groen);
  min-height: 100px;
  
}

footer {
  grid-area: footer;
  background-color: var(--kleur-oranje);
}

logo {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.logo-text {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

 .logo-text span {
  color: #0FA958; /* groen accent */
}

/* Donkere modus optie */
body.dark-mode logo {
  background-color: #000000;
}

body.dark-mode .logo-text {
  color: white;
}

body.dark-mode .logo-text span {
  color: #FF7A00;
}

h1 {
  color: var(--kleur-wit);
  padding: 25px;
}