:root {
  --kleur-geel: #ffe500;
  --kleur-zwart: #000000;
  --kleur-wit: #ffffff;
  --kleur-oranje: #ff7b00;
  --kleur-groen: #165300;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 120px 825px 60px;
  margin: 0;
  background-color: var(--kleur-wit);
  color: var(--kleur-zwart);
}


nav ul {
  list-style: none;
  margin: 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 200px;
  
}

nav ul li a {
  text-decoration: none;
  color: var(--kleur-zwart);
  transition: background-color 0.3s;
  font-size: 180%;
  border-bottom: 2px solid var(--kleur-zwart);

}

nav ul li a:hover {
  background-color: var(--kleur-zwart);
  color: var(--kleur-wit);
  border-radius: 4px;
  padding: 8px;
}


header {
  grid-area: header;
  background-color:var(--kleur-zwart);
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: var(--kleur-wit);
  padding: 0px;

}

main {
  grid-area: main;
  background-color: var(--kleur-wit);
  

}


footer {
  grid-area: footer;
  background-color: var(--kleur-wit);
  text-align: right;
  margin-top: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0px;
}

.logo-text {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

 .logo-text span {
  color: #0FA958; 
}

body.dark-mode .logo {
  background-color: #000000;
}

body.dark-mode .logo-text {
  color: white right;
}

body.dark-mode .logo-text span {
  color: #FF7A00;
}

h1 {
  color: var(--kleur-wit);
  padding: 25px;
  display: inline-block;
  border-bottom: 3px solid var(--kleur-zwart);
  padding-bottom: 5px;
}

h2{
border-bottom: 2px solid var(--kleur-zwart);
}

p {
  width: 80%;
  font-size: 130%;
  text-align: left;
  /* display: inline-block; */
}

main article {
  float: right;
  width: 35%;
}

.vraagteken{
margin-left: 50px;
margin-top: 170px;
width: 30%;
}

.kennismaking{
margin-left: 15px;
margin-bottom: 80px;
width: 25%;
}

.KungFu{
  margin-left: 35px;
  margin-top: 170px;
  width: 30%;
}

.BasicFit{
  margin-left: 15px;
  width: 29%;
}

.Jumbo1{
  margin-left: 20px;
  margin-top: 170px;
  width: 35%;
}

.Jumbo2{
  margin-left: 15px;
  width: 25%;
}

.scouting1{
  margin-left: 30px;
  margin-bottom: 70px;
  width: 25%;
}

.scouting_logo{
  margin-left: 20px;
  margin-top: 150px;
}

.werk_header{
  background-color: var(--kleur-geel); 
}

.werk_tekst{
color: var(--kleur-zwart);
}

.werk_nav{
  background-color: var(--kleur-geel);
}

.sport_header{
  background-color: var(--kleur-oranje);
}

.sport_tekst{
  color: var(--kleur-zwart);
}

.sport_nav{
  background-color: var(--kleur-oranje);
}

.scouting_header{
  background-color: var(--kleur-groen);
}

.scouting_tekst{
  color: var(--kleur-zwart);
}

.scouting_nav{
  background-color: var(--kleur-groen);
}

.index_tekst{
  display: inline-block;
  border-bottom: 3px solid var(--kleur-wit);
  padding-bottom: 5px;
}